/* Universal */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.89;
    color: #003047;
}
.container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 1rem;
}

/* Header */
#header {
    width: 100%;
    background-color: #FFF;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-weight: 700;
    color: #003047;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* .home-hero */
.home-hero {
    background-color: #d8ffed;
    height: 488px;
}
.left-column {
    width: 50%;
    float: left;
    min-height: 488px;
}
.image-wrapper {
    padding: 70px 15px;
}
.right-column {
    width: 50%;
    float: right;
    min-height: 488px;
}
.text-wrapper {
    padding: 70px 15px;
}

