/* Universal */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.89;
    color: #003047;
}
.container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.button {
    background-color: #2c3243;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
}
h1 {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
h2 {
    font-size: 40px;
    line-height: 55px;
}
p {
    margin-bottom: 1rem;
}

/* Header */
#header {
    width: 100%;
    background-color: #FFF;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-weight: 700;
    color: #003047;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
li a:hover {
    background-color: #d8ffed;
  }

/* .home-hero */
.home-hero {
    background-color: #d8ffed;
    height: 488px;
}
.left-column {
    width: 50%;
    float: left;
    min-height: 488px;
}
.image-wrapper {
    padding: 70px 15px;
}
.right-column {
    width: 50%;
    float: right;
    min-height: 488px;
}
.text-wrapper {
    padding: 70px 15px;
}

/* Intro */
.intro {  
    padding-top: 60px;
    padding-bottom: 60px;
}
.intro img {
    padding: 15px 0;
}
.intro p {
    margin-top: 15px;
}

/* Footer */
#footer {
    width: 100%;
    background-color: #2c3243;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
#footer p {
    margin-bottom: 0;
}

